.wave-container {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;

}