@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Poppins:wght@400;600&display=swap');



:root {
    --font-family-marca: 'Agbalumo', sans-serif;
    --font-family-title: 'Poppins', sans-serif;
    --text: #313131;
    --gray: rgb(102, 102, 102);
    --background: #f3f1f4;
    --primary: #ebbdd7;
    --secondary: #ca96cf;
    --accent: #99008c;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.font-marca {
    font-family: var(--font-family-marca);
}

.font-title {
    font-family: var(--font-family-title);
    font-weight: 600;
}


/*BG VARIABLES*/
.bg-black-user {
    background-color: var(--text);
}

.bg-gray-user {
    background-color: var(--gray);
}

.bg-background-user {
    background-color: var(--background);
}

.bg-secondary-user {
    background-color: var(--secondary);
}

.bg-primary-user {
    background-color: var(--primary);
}

.bg-accent-user {
    background-color: var(--accent);
}

/*COLOR VARIABLES*/
.color-black-user {
    color: var(--text);
}

.color-gray-user {
    color: var(--gray);
}

.color-background-user {
    color: var(--background);
}

.color-secondary-user {
    color: var(--secondary);
}

.color-primary-user {
    color: var(--primary);
}

.color-accent-user {
    color: var(--accent);
}